.header {
  position: sticky;
  position: -webkit-sticky;
  height: 60px;
  background-color: $color-base;

  &__container {
    position: relative;
  }

  &__logo {
    position: absolute;
    top: 12px;
    width: 150px;
    height: 73px;
    background-color: $color-secondary;
  }
}
