.swiper-container {
  width: 85%;
  height: 350px;
  padding: 0 45px;
}

.swiper-pagination-bullet-active {
  background: $color-secondary;
}

.swiper-button-prev,
.swiper-button-next {
  color: $color-light;
}

.swiper-slide {
  width: 200px;
  height: 80%;
  margin: 20px 0;
  text-align: center;

  &__image {
    width: 180px;
  }
}

@media (max-width: 1199px) {
  .swiper-container {
    width: 90%;
    height: 300px;
  }

  .swiper-slide {
    height: 70px;

    &__image {
      width: 137px;
    }
  }
}

@media (max-width: 1023px) {
  .swiper-container {
    width: 90%;
    height: 300px;
  }

  .swiper-slide {
    height: 70px;

    &__image {
      width: 137px;
    }
  }
}
