.swiper-container {
  width: 85%;
  height: 350px;
  padding: 0 45px;
}

.swiper-pagination-bullet-active {
  background: $color-secondary;
}

.swiper-button-prev,
.swiper-button-next {
  color: $color-base;
}

.swiper-slide {
  width: 200px;
  height: 80%;
  margin: 20px 0;
  font-size: 1.3rem;
  text-align: center;

  &__title {
    padding: 5px 0;
  }

  &__title-link {
    color: $color-base;
    text-decoration: none;
  }

  &__image {
    height: 220px;
  }

  &__date {
    padding: 5px 0;
  }
}

@media (max-width: 1199px) {
  .swiper-container {
    width: 90%;
    height: 300px;
  }

  .swiper-slide {
    height: 70px;

    &__image {
      width: 137px;
    }
  }
}

@media (max-width: 1023px) {
  .swiper-container {
    width: 90%;
    height: 300px;
  }

  .swiper-slide {
    height: 70px;

    &__image {
      width: auto;
    }
  }
}

@media (max-width: 991px) {
  .swiper-container {
    width: 89%;
    padding: 0 40px;
  }

  .swiper-slide {
    &__image {
      height: 210px;
    }
  }
}

@media (max-width: 767px) {
  .swiper-container {
    width: 84%;
    padding: 0 35px;
  }

  .swiper-slide {
    &__image {
      height: 210px;
    }
  }
}
