.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0.75rem;
  color: $color-text;
}

@media (max-width: 575px) {
  .cards {
    justify-content: center;
  }
}