.header__container {
  position: relative;
  text-align: center;
}

.header__logo {
  padding: 10px 0;
}

.header__menu-icon {
  position: absolute;
  top: 22px;
  z-index: 2;
}

.header__aside {
  position: fixed;
  top: 0;
  left: 0;
}