.play-panel {
  height: 0;
  text-align: center;
  @include transition(0.2s, ease-in-out);
}

.play-panel__message {
  position: relative;
  top: 25px;
  opacity: 0;
  color: $color-text;
}

.play-panel__btn {
  position: relative;
  bottom: 20px;
  opacity: 0;
  border-radius: 10rem;

  &_clicked {
    .play-panel__btn-icon {
      display: block;
    }

    .play-panel__btn-text {
      display: none;
    }
  }

}

.play-panel__btn-icon {
  display: none;
  font-size: 1.5em;
}