.forecast {
  &__today {
    display: flex;
    justify-content: space-between;

    &_temp {
      width: 55%;
      font-size: 18rem;
      font-weight: bold;
      line-height: 30rem;
    }

    &_details {
      width: 40%;
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 3.7rem;;
      text-transform: uppercase;
    }

    &_icon {
      width: 200px;
      height: 130px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 -40px;
    }
  }

  &__upcoming {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    &_day {
      width: 30%;
      font-size: 2.2rem;
      line-height: 2.7rem;
      font-weight: bold;
    }

    &_header {
      display: flex;
      justify-content: space-between;

      div {
        width: 50%;
      }
    }

    &_main {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        width: 30%;
      }
    }

    &_icon {
      height: 63px;
      background-repeat: no-repeat;
      background-position: 0px -23px;
    }

    &_temp-night {
      opacity: 0.5;
    }
  }
}
