.main {
  width: 100%;
  font-size: 3rem;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__weather {
    width: 60%;
  }

  &__map {
    display: flex;
    justify-content: flex-end;
    width: 37%;
    flex-wrap: wrap;
  }
}
